* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-sats: hsla(0, 0%, 100%, 0.6);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Very-dark-blue);
    color: var(--White);
    font-size: .8125rem;
    line-height: 1.5rem;
    
}
.row {
    width: 900px;
    height: 400px;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Lexend Deca', sans-serif;
}
span {
    color: var(--Soft-violet);
}

.paragraph {
    font-weight: 400;
    color: var(--Slightly-transparent-white);
}
.fw-bolder {
    font-size:32px;
}

.sats {
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 2em;
    margin-top: 2em;
    color: var(--Slightly-transparent-white-sats);
}

.sats-nums {
    font-weight: 700;
    font-size: 24px;
    color: var(--White);
}


.IMg , .img {
    width: 100%;
    height: 100%    ;
}
.wrap-one{
    width: 100%;
    height: 100%;
}
.background-img {
    background-color: var(--Soft-violet);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

picture{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 910px) {
    body{
        padding: 20px;
        height: fit-content;
    }
    .row{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }
    .text-container{
        width: 100%;
        height: fit-content;
        margin: 0;
        text-align: center;
    }
    .IMg , .img {
        width: 100%;
        height: 100%    ;
    }
    .col-md-6.position-relative {
        width: 100%;
    }
    .sats {
        flex-direction: column;
    }
} 